<h1>About</h1>

<h2>About The Calculator</h2>
<p>
  It wasn't that long ago that I was waist-deep in debt. When I sat down to crunch my numbers, I realized that I was making (38K, which is ~ 29K after taxes) just as much as I had in debt (23K). Being the alarmist I am by nature, despite only being waist-deep in debt, I felt like I was neck deep. After realizing that my income and my debt were not going to afford me the lifestyle I wanted, I kicked it in overdrive. I decided to stop accruing debt (I've only had that be false one month since) and start aggressively paying it off. <br>
  I took the debt snowball approach to paying off my debt. (I lucked out because my debt-snowball happened to overlap with the debt avalance approach of paying highest interest accounts first.) I chose this approach because at the time I owed on 8 different accounts. By paying off the smaller ones, I was able to stay motivated as I significantly cut back my lifestyle in an attempt to not spend.<br>
  The idea of the calculator is that you input each of your debts, the interest rate and minimums on each, and how much money you can pay towards them each month. The calculator outputs a payment schedule for you, as well as a debt-free date. 
</p>

<h2>About Emilie</h2>
<p>
  Emilie is the blogger behind <a href="http://burkedoes.com">Burke Does</a>, inspiring millennial women to live financially, physically, and professionally fit lives. She writes about overcoming debt, while balancing trying to eat healthy, stay fit, and have a little fun along the way. She posts her weekly goals at <a href="http://mytodolists.me">Emilie's To Do Lists</a> and book reviews at <a href="http://burkedoesreads.com">Burke Does Reads</a>. By day, she's a remote data programmer (R, SQL) at a tech startup. <br>
  Emilie is currently a <a href="http://ventureforamerica.org">Venture for America Fellow</a>. She graduated from Princeton in 2015. <br>
  <a href="http://emilieburke.com">Portfolio Website</a> | <a href="http://github.com/emilielimaburke">Github</a> | <a href="http://linkedin.com/in/emilielimaburke">LinkedIn</a> | <a href="http://burkedoes.com"</a>Blog</a> | <a href="http://twitter.com/emilielimaburke">Twitter</a> | <a href="http://instagram.com/emilielimaburke"</a>Instagram</a>
</p>
