<h1>Contact me</h1>
<p>If you're interested in getting in touch, please reach out twitter. You can reach out on Twitter <a href="http://www.twitter.com/emilielimaburke" target="_blank">@emilielimaburke</a>., via email <a href="mailto:emilie@burkedoes.com">here</a>, or at <a href="http://emilieburke.com/contact-me/">the Contact Form on my website</a>.</p> 