<h1>Welcome to my project</h1>
<p>I'm going to be building a debt-snowball calculator (hopefully). This is where I image you'd interact with it. I'm excited to see what it becomes over the course of the next month. One of my inspirations for this project is <a href="http://www.moneylab.co/web-app/">Matt Giovanisci's Money Lab Challenges</a>. </p>
